@media (min-width:1200px){
    .container-fluid {
	   padding-right: 50px;
	   padding-left: 50px;
    }
}
@media (min-width:992px){
    .container-fluid {
	   padding-right: 30px;
	   padding-left: 30px;
    }
}
@media (min-width:768px){
    .navbar-nav > li > .decoration {
        position: relative;
    }
    .navbar-right {
        margin-right: 0;
    }
    /* Menu Decoration */
    .navbar-default .navbar-nav > li > .decoration:hover, .navbar-default.affix .navbar-nav > li > .decoration:hover, .navbar-default .navbar-nav > li > .decoration:focus, .navbar-default.affix .navbar-nav > li > .decoration:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-nav > li > .decoration {
        padding: 8px 0;
        margin: 0 15px;
    }
    .navbar-nav > li > .decoration::before {
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 3px;
        left: 100%;
        right: 0;
        content: "";
        transition: left 0.1s ease 0s, right 0.1s ease 0s;
    }
    .navbar-nav > li > .decoration::after {
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 100%;
        content: "";
        transition: right 0.1s ease 0s, left 0.1s ease 0s;
    }
    .navbar-nav > li > .decoration:hover::before {
        left: 0;
        right: 60%;
    }
    .navbar-nav > li > .decoration:hover::after {
        left: 60%;
        right: 0;
        transition: left 0.1s ease 0s, right 0.1s ease 0s;
    }
    .navbar-nav > li.active > .decoration, .affix .navbar-nav > li.active > .decoration {
        background-color: transparent;
    }
    .navbar-default .navbar-nav > li.active > .decoration {
        color: #fff;
    }
    .navbar-default.affix .navbar-nav > li.active > .decoration {
        color: #252525;
    }
    .navbar-nav > li.active > .decoration::before {
        left: 0;
        right: 60%;
    }
    .navbar-nav > li.active > .decoration::after {
        left: 60%;
        right: 0;
        transition: left 0.1s ease 0s, right 0.1s ease 0s;
    }
    .affix .navbar-nav > li > .decoration::before, .affix .navbar-nav > li > .decoration::after {
        background-color: #333;
    }
    .navbar-nav > li > .dropdown-menu {
        top: calc(100% + 5px);
        border: 0;
        border-radius: 3px;
        padding: 0;
        min-width: 195px;
    }
    .navbar-nav > li > .dropdown-menu li {
        margin: 7px;
    }
    .navbar-nav > li > .dropdown-menu li a {
        padding: 10px 15px;
        border-radius: 3px;
        transition: left .5s cubic-bezier(1,0,0,1);
    }
    .navbar-nav > li > .dropdown-menu li a:focus {
        background-color: transparent;
    }
    .navbar-nav > li > .dropdown-menu li a:hover {
        background-color: #ff3636;
        color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.6);
    }
    .home-banner .logo-banner {
        height: 250px;
    }
}
@media(max-width:991px){
    .navbar-default .navbar-brand {
        display: none;
    }
}
@media(max-width:767px){
    .navbar-default {
        padding: 5px 0;
    }
    .navbar-default.affix {
        padding: 0;
    }
    .navbar-default .navbar-brand {
        padding: 15px;
        display: block;
    }
    .navbar-default .navbar-nav li.active a, .navbar-default.affix .navbar-nav li.active a {
        color: #333;
        background-color: rgba(255,255,255,.7);
    }
    .navbar-default .navbar-nav li.active a:focus, .navbar-default.affix .navbar-nav li.active a:focus {
        color: #333;
        background-color: rgba(255,255,255,.5);
    }
    .navbar-default .navbar-nav li.active a:hover, .navbar-default.affix .navbar-nav li.active a:hover {
        color: #333;
        background-color: rgba(255,255,255,.5);
    }
    .navigation {
        height: 100vh;
        position: fixed;
        width: 100%;
        max-width: calc(100% - 61px);
        right: -100%;
        top: 0;
        transition: right .5s cubic-bezier(1,0,0,1);
        background: #ff3636;
        background: -webkit-gradient(linear,left top,left bottom,from(#ff3636),color-stop(100%,#252525));
        background: linear-gradient(#ff3636,#252525 100%);
    }
    .navigation .navbar-nav {
        margin: 0;
        margin-top: 53px;
        padding: 0 15px;
        max-height: calc(100% - 85px);
        overflow: auto;
        padding-bottom: 10px;
    }
    .navigation .navbar-nav li {
        margin-bottom: 8px;
    }
    .navigation .navbar-nav li:last-child {
        margin-bottom: 0;
    }
    .navigation .navbar-nav li a {
        color: #fff;
        padding: 10px 15px;
        font-weight: 300;
        font-size: 13px;
        transition: all .3s;
    }
    .affix .navigation .navbar-nav li a:focus .navigation .navbar-nav li a:focus {
        color: #fff;
        background: rgba(255,255,255,.2);
    }
    .affix .navigation .navbar-nav li a:hover .navigation .navbar-nav li a:hover {
        color: #fff;
        background: rgba(255,255,255,.2);
    }
    .navme-collapse {
        right: 0;
    }
    .navbarme-collapse {
        width: 100%;
        position: fixed;
        left: calc(-100% + 61px);
    }
    .navbar-default .navigation .navbar-nav > .open > a, .navbar-default .navigation .navbar-nav > .open > a:hover, .navbar-default .navigation .navbar-nav > .open > a:focus{
        color: #fff;
        background: rgba(255,255,255,.2);
    }
    .navbar-default .navigation .navbar-nav .open .dropdown-menu {
        max-height: 116px;
        overflow: auto;
    }
    .navbar-default .navigation .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navigation .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navigation .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ddd;
    }
    .navbar-default.affix .navbar-nav > li > a {
        color: #fff;
    }
    .navbar-default.affix .navbar-nav > li > a:hover, .navbar-default.affix .navbar-nav > li > a:focus {
        color: #fff;
        background-color: rgba(255,255,255,.2);
    }
    
    /* Home Banner*/
    .home-banner h1 {
        font-size: 25px;
        padding: 10px 30px;
    }
    .home-banner h3 {
        font-size: 18px;
    }